{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <h1 class="py-4 text-4xl font-extrabold">Login</h1>

    {{ form_start(loginForm, { 'attr': {'class': 'p-3 my-4 shadow-lg rounded-md border border-black w-full'} }) }}
        {% if error %}
            <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {{ form_row(loginForm.username, {
            'full_name': '_username', 
            'value':  last_username 
        }) }}
        
        {{ form_row(loginForm.password, {
            'full_name': '_password'
        }) }}
        
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit" class="bg-sky-500 shadow text-white rounded-md text-sm py-2 font-semibold px-3 hover:bg-sky-600 mt-3" formnovalidate>Login</button>
    {{ form_end(loginForm) }}
        
        
{% endblock %}
